@font-face {
  font-family: 'Baltiholm';
  src: url('/assets/Baltiholm-lg2n0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Teacher';
  src: url('/assets/TeachersStudent-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

